:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;

  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --header-background-color: #ffffff;
  --filrer-button-background-color: #f5f4fa;
  --our-team-background-color: #f5f4fa;
  --active-color: #2196f3;

  --white-color-text: #ffffff;
  --black-color-text: #000000;

  --icon-primary-color: #AFB1B8;

  --primary-duration-timing: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;

}

body {
  background: var(--primary-background-color);
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  font-size: 14px;
  margin: 0;

}

.list {
  list-style: none;
}

.button {
  font-family: inherit;
  border: 1px solid transparent;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
  margin-right: auto;

}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.icon {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.icon-web {
  color: var(--active-color);
}

.icon-studio {
  color: var(--black-color-text);
}

.footer .icon-studio {
  color: var(--white-color-text);
}

.header .nav-list .current {
  color: var(--active-color);
}

/* navigation */

.nav-list {
  display: flex;
  gap: 50px;
  margin-left: 93px;
}

.nav-list .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
  transition: color var(--primary-duration-timing);
  position: relative;
}

.current::after {
  position: absolute;
  content: "";
  height: 4px;
  width: calc(100% + 3px);
  background: var(--active-color);
  border-radius: 2px;
  bottom: -33px;
  left: 50%;
  transform: translateX(-50%);
}

.nav-list .link:focus,
.nav-list .link:hover {
  color: var(--active-color);

}

.nav-contact {
  display: flex;
  gap: 30px;
}

.nav-contact .contact {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  display: flex;
  gap: 10px;
  align-items: center;
  transition: color var(--primary-duration-timing);
}

.icon-contact {
  fill: var(--primary-text-color);
}

.nav-contact .contact:hover,
.nav-contact .contact:focus {
  color: var(--active-color);

}

.contact:hover .icon-contact,
.contact:focus .icon-contact {
  fill: var(--active-color);
  transition: fill var(--primary-duration-timing);
}

/* hero */

.hero {
  background-color: var(--secondary-background-color);
  background-image:
    linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-fon-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color-text);
  width: 696px;
  margin: 0 auto;
  text-align: center;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color-text);
  background: var(--active-color);
  cursor: pointer;

  border-radius: 4px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  display: block;
  margin-top: 30px;
}

.hero-button:focus {
  color: none;
}

/* section qualities our company  */

.qualities-list {
  display: flex;
  gap: 30px;

}


.section-qualities {
  padding: 94px 0;
}



.section-qualities .item {
  background: #F5F4FA;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  width: 270px;
  height: 120px;
  align-items: center;
}


.qualities-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-top: 30px;
}

.qualities-text {
  line-height: 1.71;
  margin-top: 10px;
}

.qualities-pictures {
  padding: 0 0 94px 0;
}

.section-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--secondary-text-color);
}

.qualities-pictures-list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
  justify-content: center;
}

.image-qualities {
  display: block;
}

.qualities-pictures-item {
  position: relative;
  width: 370px;
  height: 294px;
}

.qualities-box {
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.qualities-top-text {
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-color-text);



}

/* our-team */

.section-our-team {
  padding: 94px 0;
  background: var(--our-team-background-color);
}

.box-our-team {
  margin-top: 50px;
}

.our-team-box {
  padding: 30px 0;
}

.our-team-icon {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.our-team-soc {
  width: 44px;
  height: 44px;

}

.our-team-svg {
  fill: var(--icon-primary-color);
  transition: fill var(--primary-duration-timing);
}

.our-team-link:hover .our-team-svg,
.our-team-link:focus .our-team-svg {
  fill: var(--white-color-text);
}


.our-team-link {
  transition: background-color var(--primary-duration-timing);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-team-link:hover,
.our-team-link:focus {
  background-color: var(--active-color);
}


.our-team-item {
  background: var(--primary-background-color);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-list {
  display: flex;
  justify-content: center;
  gap: 30px;

}


.our-team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-text-color);
}

.our-team-text {
  font-size: 16px;
  line-height: 1.18;

  margin-top: 10px;
}

.image-our-team {
  display: block;
}

/* regular customers */

.regular-customers {
  padding: 94px 0;
}

.customers-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--secondary-text-color);
}

.customers-list {
  margin-top: 50px;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.customers-icon {
  fill: var(--icon-primary-color);
  transition: fill var(--primary-duration-timing);
}

.customers-link {
  border: 1px solid var(--icon-primary-color);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border var(--primary-duration-timing);
}


.customers-link:hover,
.customers-link:focus {
  border: 1px solid var(--active-color);

}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: var(--active-color);
}




/* footer */

.footer {
  background: var(--secondary-background-color);
  padding: 60px 0;
}

.box-footer {
  display: flex;
  align-items: baseline;
}



.address {
  margin-top: 20px;
}


.footer-item:not(:first-child) {
  margin-top: 9px;
}


.footer-address {
  color: var(--white-color-text);
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;

}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  line-height: 1.71;
  font-style: normal;
  transition: color var(--primary-duration-timing);
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--active-color);

}



/* social icon */

.box-soc-footer {
  margin-left: 70px;

}

.soc-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color-text);
}

.soc-icon-footer-list {
  margin-top: 20px;
  gap: 10px;
  display: flex;
}

.item-icon-footer {
  width: 44px;
  height: 44px;
}

.footer-soc-linc {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  align-items: center;
}

.soc-icon-footer {
  fill: var(--primary-background-color);
}

.soc-icon-footer-list [href] {
  transition: background-color var(--primary-duration-timing);
}

.soc-icon-footer-list [href]:hover,
.soc-icon-footer-list [href]:focus {
  background-color: var(--active-color);

}

.subscription-wrap{
  margin-left: 93px;
}

.subscription-text {
  font-weight: 700;
  line-height: calc(16/14);
  text-transform: uppercase;
  color: var(--white-color-text);
}

.subscription-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  background-color: var(--secondary-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.subscription-input:not(:placeholder-shown){
  background-color: var(--primary-background-color);
  font-size: 20px;
}

.subscription-input::placeholder{
  font-size: 16px;
  line-height: calc(20/16);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription-form{
  display: flex;
  margin-top: 20px;
}

.send-button {
  background-color: var(--active-color);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30/16);
  letter-spacing: 0.06em;
  color: var(--white-color-text);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  padding: 10px 28px;
  cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
margin-left: 12px;
}

.send-icon{
  fill: var(--white-color-text);
  margin-left: 10px;
  width: 100%;
  height: 100%;
}




/* page portfolio */

/* filter */

.portfolio {
  padding: 94px 0;
}

.list-filter {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.button-filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--secondary-text-color);
  background: var(--filrer-button-background-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  transition: background-color, color, box-shadow, var(--primary-duration-timing);
}



.button-filter:hover,
.button-filter:focus {
  background-color: var(--active-color);
  color: var(--white-color-text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}


/* <!-- examples of our works --> */

.examples-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.examples-link:hover .examples-top-text,
.examples-link:focus .examples-top-text {
  transform: translateY(0);
}


.examples-link:hover,
.examples-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-list img {
  display: block;
}

.examples-link {
  display: block;
  text-decoration: none;
  transition: box-shadow var(--primary-duration-timing);
}

.examples-top-box {
  position: relative;
  overflow: hidden;
}

.examples-top-text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color-text);
  background: rgba(33, 150, 243, 0.9);
  transition: transform var(--primary-duration-timing);

  position: absolute;
  top: 0;
  padding: 63px 24px;
  height: 100%;
  transform: translateY(101%);
  width: 100%;
  overflow: auto;
}

.examples-box {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.examples-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.examples-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);

  margin-top: 4px;
}


/* MODAL WINDOW  */

.backdrop {
  position: fixed;

  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity var(--primary-duration-timing), visibility var(--primary-duration-timing);
}



.modal {
  width: 528px;
  height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--primary-background-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--primary-duration-timing);
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}


.modal-close {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  transition: fill var(--primary-duration-timing);
}

.modal-close:hover {
  fill: var(--active-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}


.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23/20);
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 12px;
}

.modal-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  transition: border var(--primary-duration-timing);
  padding-left: 42px;
  outline: none;
  cursor: pointer;
}

.modal-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;

}

.modal-message::placeholder {
  font-size: 12px;
  line-height: calc(14/12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input {
  transition: border var(--primary-duration-timing);
}

.modal-input:hover,
.modal-input:focus {
  border: 1px solid var(--active-color);

}

.modal-input:hover+.modal-icon,
.modal-input:focus+.modal-icon {
  fill: var(--active-color);
}



.modal-text {

  font-size: 12px;
  line-height: calc(14/12);
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  display: block;
  margin-bottom: 4px;
}

.modal-wrap {
  position: relative;
}

.modal-field:not(:first-child) {
  margin-top: 10px;
}


.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--primary-duration-timing);
}


.privacy-text {
  line-height: calc(24/14);
  display: flex;
  align-items: center;
  justify-content: center;

}

.checkbox-wrap {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 7px;
}

.modal-checked {
  margin-top: 20px;
}

.checkbox-box {
  display: flex;
}

.privacy-text-accent {
  line-height: calc(24/14);
  color: var(--active-color);
  text-decoration: underline;
}

.modal-check:checked+.privacy-text span:first-child {
  background-color: var(--active-color);
  fill: var(--white-color-text);
  border: none;
}

.modal-btn-wrap {
  display: flex;
  justify-content: center;
}

.modal-btn {
  margin-top: 30px;
  padding: 10px 52px;

  background: var(--active-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30/16);
  letter-spacing: 0.06em;
  color: var(--white-color-text);
  cursor: pointer;
  transition: background var(--primary-duration-timing);
}


.modal-btn:hover{
  background: #188CE8;
}

  

